#lounges {
  display: flex;
  flex-direction: column;
}

.cityChoose {
  margin-bottom: 50px;
  font-size: 18px;
}

.feed {
  border: solid 2px;
  width: 15%;
  margin-left: 20px;
  font-size: 15px;
  height: 50vh;
}

.feed div {
  padding: 10px;
}

.feed > div:nth-of-type(odd) {
  background-color: #dacfd5;
}
