nav {
  width: 30%;
  display: flex;
  margin-left: auto;
  margin-right: 0;
}

nav span {
  flex: 1;
  font-size: 18px;
}

nav span {
  text-decoration: none;
  position: relative;
}

nav span:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: orange;
  transition: width 1s ease 0s, right 0.5s ease 0s;
  width: 0;
}

nav span:hover:after {
  width: 100%;
  left: 0;
}
